@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}